
body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  font-family: "calibri", sans-serif;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.msg{
  float:left;  width:85%
}
.logo{
  max-width: 80px;
  float:left; width:15% 
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

div.chat {
  clear: both;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

textarea.test
{  
width: 100%;
height: 100%;
border-color: Transparent; 
resize: none;    
}

textarea:focus, input:focus{
    outline: none;
}

#user_input{
	width: 80%;
	border: 0; 
}

.top{
	width: 100%; 
}
.top::after {
  content: "";
  clear: both;
  display: table;
}

.help_text{
	width: 99%;
	border: 3px solid #30ADFF;
	border-radius: 10px;	
}

.help_text_p{
	padding: 5px	
}

.title{
	float:left; 
}

.audio{  
	float: right;
    margin-right:0;
}

.help{
	padding-top: 20px;
	max-width: 30px;
	float: right;
    margin-right:0;
}

#help_button{
	width: 100%
}

.speak_button{
	float:left; 
}

 .right{
 	float: right;
    margin-right:0;
 }
 
 .audio_cmd{
	 padding-left: 2px;
	 padding-top: 5px;
 }
 
 #go_button{
	 width: 20px
 }

